* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #888;
}

hr {
    border: .1rem solid #eeeeee;
    border-radius: .1rem;
    margin: 2rem 0 .3vw 2rem;
}

header {
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    padding: 0.8rem;
    box-shadow: 0 .2rem .2rem rgba(17, 17, 17, 20%);
}

.header__user-items {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.header__user-items .header__button {
    margin: 0 .2rem;
}

.header__button {
    background: none;
    border: none;
    font-size: 1.6rem;
    color: #888;
    padding: 0 .8rem;
    cursor: pointer;
}

.header__button a:hover, .header__user-items a:hover {
    color: #282828;
}

.header__logo--youtube {
    color: red;
    margin-right: 0.5rem;
}

.header__logo {
    font-family: "Oswald", Arial, sans-serif;
    letter-spacing: -.2rem;
    font-size: 2.2rem;
    color: #282828;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 2rem;
}

.header__logo a {
    color: #282828;
}

.header__searchbar {
    display: flex;
    /*align-items: stretch;*/
    max-width: 65rem;
    width: 100%;
}

.header__searchbar input, .header__searchbar button {
    border: 0.0625rem solid #ccc;
}

.header__searchbar input {
    width: 100%;
    /*min-height: 2.4rem;*/
    margin: .4rem 0 0 6.4rem;
    /*font-family: sans-serif;*/
    border-radius: .3rem .1rem .1rem .3rem;
    padding: .4rem;
    outline: none !important;
}

.header__searchbar input::placeholder {
    font-weight: bold;
    font-family: sans-serif;
}

.header__searchbar button {
    font-size: 1.6rem;
    /*margin-top: .4rem;*/
    /*margin-left: -.2rem;*/
    border-radius: .1rem .3rem .3rem .1rem;
    padding: 0 2.5rem;
    margin: .4rem 0 0 -.2rem;
}

.banner {
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;
    /*z-index: 0;*/
    height: 16vw;
    background-image: url("https://i.pinimg.com/originals/60/7f/55/607f55214c76a96f81ec7c9932f4ef69.jpg");
    background-size: cover;
    background-position: center;
}

.banner__info-block {
    display: flex;
    align-items: center;
    /*z-index: 1;*/
    background-color: #000;
    opacity: 50%;
    width: 8.9rem;
    height: 4rem;
    margin: 1rem;
}

.banner__info-block i {
    /*z-index: 2;*/
    font-size: 2.5rem;
    color: #fff;
    padding: .4rem;
    cursor: pointer;
}

a .pinterest {
    color: red;
}

a .twitter {
    color: lightskyblue;
}

a .facebook {
    color: darkblue;
}

.navigation-block {
    padding: 2rem 7vw .6rem 7vw;
    background-color: #fafafa;
    /*margin: 0 auto;*/
}

.channel-info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.channel-info-block__avatar-block {
    display: flex;
    align-items: center;
}

.channel-info-block__channel-avatar {
    background-image: url("https://i.pinimg.com/736x/56/c5/8a/56c58aecc8659b978d8339bf8450cb9c.jpg");
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-size: cover;
}

.channel-info-block__text {
    margin: 1rem;
    font-family: sans-serif;
    color: #282828;
    font-weight: bold;

}

.channel-info-block__text-name a {
    color: #282828;
}

.channel-info-block i {
    font-size: 1.5rem;
    color: #888888;
    margin-left: .5rem;
}

.channel-info-block__text-subs {
    font-size: 1.2rem;
    color: #888888;
}

.subscribe-button {
    font-family: sans-serif;
    text-transform: uppercase;
    padding: 1rem;
    border: none;
    color: #888888;
    font-weight: bold;
    background-color: #eee;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: red;
    color: #282828;
}

.subscribe-button:active {
    color: #eeeeee;
}

.bell-button {
    background: none;
    border: none;
}

.bell-button i {
    font-size: 2rem;
    padding: 0 .5rem;
}

.bell-button i:hover {
    color: #282828;
    cursor: pointer;
}

.bell-button i:active {
    color: gold;
}

.navigation-bars {
    display: flex;
    align-items: center;
    font-family: sans-serif;
    font-size: 2rem;
    color: #888888;
    font-weight: bold;
}

.navigation-bars a {
    padding: 1rem 2.5rem;
    position: relative;
}

.navigation-bars a:after {
    content: ' ';
    display: none;
    position: absolute;
    bottom: -.7rem;
    right: 0;
    left: 0;
    height: .3rem;
    background-color: #888888;
    border-radius: .5rem;
}

.navigation-bars a:hover:after {
    display: block;
}

.navigation-bars a:hover {
    color: #282828;
}

.video-pic {
    background-color: #282828;
    /*max-height: 12rem;*/
    /*max-width: 22rem;*/
    /*min-height: 12rem;*/
    /*min-width: 22rem;*/
    height: 12rem;
    width: 22rem;
    margin: 1rem 1rem 1rem 0;
}

.recent-video-block {
    /*margin-left: 6vw;*/
    padding-top: 2rem;
    display: flex;
    justify-content: start;
    font-size: 1.4rem;
    color: #888888;
}

.recent-video-block__text-block {
    margin-top: .6rem;
    max-width: 58rem;
    line-height: 2.5rem;
}

.recent-video__name {
    color: #282828;
    font-size: 2rem;
}

.recent-video__description {
    line-height: 2rem;
}

.recent-video {
    min-height: 15rem;
    min-width: 28rem;
    background-image: url("https://i.kym-cdn.com/entries/icons/facebook/000/009/511/jojo.jpg");
    background-size: cover;
}

.video-block {
    display: flex;
    overflow-x: auto;
    padding-bottom: 1rem;
    scrollbar-width: thin;
}

.video-block__title {
    margin: 0 0 1vw 1rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.video-title, .video-author, .video-stats {
    color: #888888;
    font-size: 1.4rem;
    line-height: 1.9rem;
}

.video-title {
    font-size: 1.6rem;
    color: #282828;
    margin-top: -.6rem;
}

.video-title:hover{
    text-decoration: underline;
    cursor: pointer;
}

main {
    display: flex;
    font-family: sans-serif;
    padding: 2rem 7vw .6rem 7vw;
}

.content-block-left {
    margin: 0 0 6vw 0;
    width: 78vw;
}

.content-block-right {
    padding: 0 0 0 2rem;
}

.content-block-right hr {
    margin: 2rem 0;
}

.other-channels__title {
    /*overflow: hidden;*/
    font-size: 1.8rem;
    color: #888888;
    text-transform: uppercase;
    margin-top: 2rem;
}

.channel {
    margin-top: 2rem;
}

.channel__face {
    display: flex;
    align-items: center;
}

.channel__userpic {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin: 0 1rem 1rem 0;
}

.channel__title {
    margin-top: -1rem;
    font-size: 1.4rem;
    color: #282828;
}

.channel button {
    padding: .3rem .8rem;
}

@media (max-width: 900px) {
    .header__searchbar {
        display: none;
    }
    .channel-info-block__channel-avatar{
        display: none;
    }
    .content-block-right{
        display: none;
    }
    .content-block-left{
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .navigation-bars{
        overflow: auto;
        scrollbar-width: thin;
    }
    body{
        overflow-x: hidden;
    }
}